.ğš›,
main {
  display: flex;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
}

button,
canvas {
  cursor: pointer;
}

a,
canvas {
  margin: 20px 0 0;
}

a,
button {
  color: #000;
  padding: 0;
}

main {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.ğš› {
  justify-content: space-between;
  width: 100%;
}

a,
button {
  font-size: 48px;
}

button {
  border: none;
  background: 0 0;
}

a {
  font-family: "Noto Sans Kawi", sans-serif;
  border-radius: 50px;
  text-decoration: none;
}

.ğš›,
a,
canvas {
  opacity: 0;
}

.ğ›  * {
  opacity: 1;
}

button.active {
  color: #ffa600;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    color: #ffa600;
  }
}
